
<%- contentFor('hero') %>
<section class="hero">
  <div class="hero-content">
    <h2>Welcome to the HAL Report Beta!</h2>
    <p>It can only be attributable to human error.</p>

    <a href="/DCFreport" class="btn btn-lg btn-primary">DCF Report</a>
    <a href="/contact" class="btn btn-lg btn-primary">Another Buttom</a>
  </div>
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
  Home Page
</div>
